.capitalize-letter
{
    text-transform: capitalize;
}
.error
{
    color: red;
}
.table.gy-5 td, .table.gy-5 th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (min-width: 992px)
{
.header-fixed.toolbar-fixed .wrapper {
    padding-top: 70px;
}}

.form-control {

    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    line-height: 1.0;
}
.modal-header
{
    padding: 0.5rem 1.75rem;
}
.modal-footer
{
    padding: 0.5rem;
}
.swal2-popup
{
    padding: 0;
    width: 24em;
    height: 20em;
}